.DS_Store
/.settings
/.buildpath
/.project
/.externalToolBuilders
/nbproject/
*/.DS_Store
.DS_Store
node_modules/
npm-debug.log
*/.svn
.svn
/vendor
/build
/sonar
/reports
*.diff
/.sonar
/sonar-project.properties